.site-main-products { // the container that holds all the product posts
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.type-product { // an individual product listing
		width: 262px;
	}
}

.type-product-text {
	border: $border__main;
	border-top: $border__bold;
	padding: 0 $base__space-unit;
	display: flex;
	justify-content: space-between;
}

.type-product-title {
	overflow: hidden;
	white-space: nowrap;
}

.type-product-price {
	padding-left: 5px;
}