/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site {
	@include grid-layout;
}

.site-header {
	@include site-header;
}

.site-content {
	@include site-content;
}

.widgetized-sidebar {
 @include widgetized-sidebar;
}

.site-footer {
	@include site-footer;
}

.widgetized-footer {
 @include widgetized-footer;
}

.site-info {
	@include site-info;
}





/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
