.site-content {
	margin-right: 2*$base__space-unit;
}

.menu-item { // items in navbar
	text-transform: uppercase;
	padding-left: $base__space-unit;
}

/* Clickthrough (shop, read more, etc) */

.clickthrough-main {
	@include clickthrough;
	background-color: $color__brand1;
	color: $color__background-body;
	&:visited {
		color: $color__background-body;
	};
	&:hover {
		background-color: #19625d;
	}
}

.clickthrough-accent1 {
	@include clickthrough;
	color: $color__text-main;
	border: 1px solid $color__text-main;
	&:visited {
		color: $color__text-main;
	};
	&:hover {
		background-color: $color__brand1;
		color: $color__background-body;
		border: 0;
	}
	
}

.clickthrough-accent2 {
	@include clickthrough;
	color: $color__background-body;
	border: 1px solid $color__background-body;
	&:visited {
		color: $color__background-body;
	};
	&:hover {
		background-color: $color__brand1;
		color: $color__background-body;
		border: 0;
	}
}

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Shop pages */

.taxonomy-description p {
	text-align: center;
}

.product-image {
	display: block;
	height: 250px;
}

/* Search results page (search.php) */

.page-title-search {
	text-align: left;
}

