.site-footer {
	background-image: url("../../img/dark-wood.png");
	color: $color__background-body;
	.widget-area {
		@include grid-footer;
	}
	a, a:hover, a:visited {
		color: $color__background-body;
	}
	.widget-title {
		color: $color__brand3;
	}
	.widget_custom_html {
		margin-top: 2*$base__space-unit;
		margin-right: 2*$base__space-unit;
	}
}




.site-info {
	text-align: center;
}





