.site-footer {
	background-image: url("../../img/dark-wood.png");
	color: $color__background-body;
}


.widgetized-footer,
.site-info {
	color: $color__background-body;
	a, a:hover, a:visited {
		color: $color__background-body;
	}
	.widget-title {
		color: $color__brand3;
	}
	.widget {
		margin-right: 3*$base__space-unit;
	}
}

.widgetized-footer {
	display: flex;
}


.site-info {
	text-align: center;
}





