// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin clickthrough {
	text-transform: uppercase;
	font-family: $font__accent;
	font-size: .8rem;
	padding: $base__space-unit/2 $base__space-unit;
}