/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.site {
	@include grid-site;
}

.site-content {
	@include grid-main;
}

.content-area {
	grid-column: 1;
}

.site-content {
	grid-column: 2;
}

header,
footer {
	grid-column: 1/4;
}

.wp-post-image {
	width: 100%;
}


