/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* front-page */

.front-page-journal { // the container that holds the three journal entries on the front page
	display: flex;
	justify-content: space-between;
}

.front-page-journal-entries {
	width: 400px;
	border: $border__main;

}

.wp-post-image {
	width: 100%;
}

.custom-hero {
	height: 100vh;
}