
// Layout

$main-content-width: 1120px;
$main-spacing: 1.5rem; // don't know what this is for

$border-solid: 1px solid #e1e1e1;
$border-dashed: 1px dashed #c8c8c8;

// Type

$font-main: "Merriweather", serif;

$line-height: 1.75;

$font-accent: "Novovento Sans Web", sans-serif; // for headings etc.

$font_code: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace;
$font_pre: "Courier 10 Pitch", Courier, monospace;


// Colors

$background-color-main: #fff;

$color-1: #404040; // dark grey
$color_2: #248A83; // sea green
$color_3: #2f1339; // poiple
$color_4: #d99054; // yellow-orange
$color_5: #f0e4d1; // creamy
$color_6: #a1a1a1; // light grey
$color_7: #808080; // mid grey


