/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

/* Sidebar */

.site-content .widget-area {
	border-left: $border__main;
	grid-column: 2;
	padding-left: 2*$base__space-unit;
}

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget */

.widget_search .search-submit {
	display: none;
}






